* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    padding: 1.5rem;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(107, 61, 216);
}

#logo {
    height: 10rem;
    width: 10rem;
}

#menu-img {
    height: 3rem;
    width: 3rem;
    transition: 0.2s
}

#menu-img:hover {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 10px;
    background-color: rgb(139, 103, 224);
    transition: 0.2s
}

.dropdown-menu {
    transition: 0.2s;
}

.menu {
    border: none;
    background-color: unset;
}